body{  
 /* background-image: url(img/FondoM.jpg);*/
  background-color: #a8eca5;/*#86fff8*/
  background-size: cover; /*Para que cubra toda la pagina*/
  background-repeat: repeat;
  background-attachment: fixed;
  top: 0px;
  margin: 0px;
  text-align: justify;
}

img{
  background-color:transparent; /* #ffdd90; Se asigna color de fondo a la imagen*/
  background-repeat: repeat; /*Para que la imagen no se duplique en sí misma*/
  background-attachment: fixed;
  border:none;
  display:block;
  margin: auto;
  width: 220px; /*ancho*/
  height: 180px; /*largo o alto de la imagen*/
}

.contenido {
  border: none;
  border-radius: 10px;
  width: 70vw;
  height: 110vh;
  justify-content: center;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

h1{
  font-family: 'Arial Narrow Bold', sans-serif; /*Tipo de letra*/
  text-align: center;
  font-size: 25px; /*Tamaño de la letra*/
  font-weight: 300; /*GROSOR DE LA LETRA VA DE 100 - 900 O BOLD, BOLDER, LIGHT*/
  color: black;
}

h2{
  font-family: 'Arial Narrow Bold', sans-serif; /*Tipo de letra*/
  text-align: justify;
  padding:10px;
  margin-left: 18%;
  margin-right: 18%;
  font-size: 25px; /*Tamaño de la letra*/
  font-weight: 400; /*GROSOR DE LA LETRA VA DE 100 - 900 O BOLD, BOLDER, LIGHT*/
  color: black;
}

h3{
  font-family: 'Arial Narrow Bold', sans-serif; /*Tipo de letra*/
  text-align: center;
  padding: 10px;
  margin-left: 18%;
  margin-right: 18%;
  font-size: 25px; /*Tamaño de la letra*/
  font-weight: 400; /*GROSOR DE LA LETRA VA DE 100 - 900 O BOLD, BOLDER, LIGHT*/
  color: black;
}

h4{
  padding:10px;
  margin-left: 25%;
  margin-right: 25%;
  font-family: 'Arial Narrow Bold', sans-serif; /*Tipo de letra*/
  text-align: center;
  font-size: 20px; /*Tamaño de la letra*/
  font-weight: 300; /*GROSOR DE LA LETRA VA DE 100 - 900 O BOLD, BOLDER, LIGHT*/
  color: black;
}

p{
  background-color:#a2f782;
  border-radius: 8px;
  padding:10px;
  margin-left: 18%;
  margin-right: 18%;
  font-family: 'Arial Narrow Bold', sans-serif; /*Tipo de letra*/
  text-align: center;
  font-size: 25px; /*Tamaño de la letra*/
  font-weight: 300; /*GROSOR DE LA LETRA VA DE 100 - 900 O BOLD, BOLDER, LIGHT*/
  color: black;
}

#root{
  padding:10px;
  margin-top: 2%;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 3%;
  background-color:#00dd7e;/*#a8eca5*/
  border-radius: 8px;
}

#welcome{
  padding:10px;
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 3%;
  background-color:#00dd7e;/*#a8eca5*/
  border-radius: 8px;
}

#user{
  padding:10px;
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10%;
  background-color:#00dd7e;/*#a8eca5*/
  border-radius: 8px;
  text-align: center;
}

#optionencode{
  padding:10px;
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 3%;
  background-color:#00dd7e;/*#a8eca5*/
  border-radius: 8px;
  text-align: center;
}

#optiondecode{
  padding:10px;
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 3%;
  background-color:#00dd7e;/*#a8eca5*/
  border-radius: 8px;
  text-align: center;
}
/*Propiedades el botón de la primer pantalla*/
.boton{
    background-color: rgb(9, 216, 243); /*Fondo del botón*/
    border-radius: 8px; /*se asigna un borde o quita las equinas del botón*/
    margin: 10px;
    border: 3px solid rgb(251, 255, 0); /*Para el borde del botón*/
    font-size: 25px; /*Tamaño de la letra*/
    font-weight: 400; /*GROSOR DE LA LETRA VA DE 100 - 900 O BOLD, BOLDER, LIGHT*/
    color: white; /*Color de la letra*/
    cursor: pointer;
    cursor: hand; /*Tipo/estilo del cursor*/
    text-align: center;
    }

.boton1{
  background-color: rgb(9, 216, 243); /*Fondo del botón*/
  border-radius: 8px; /*se asigna un borde o quita las equinas del botón*/
  margin: 10px;
  margin-left: 5px;
  margin-right: 5%;
  border: 3px solid rgb(251, 255, 0); /*Para el borde del botón*/
  font-size: 25px; /*Tamaño de la letra*/
  font-weight: 400; /*GROSOR DE LA LETRA VA DE 100 - 900 O BOLD, BOLDER, LIGHT*/
  color: white; /*Color de la letra*/
  cursor: pointer;
  cursor: hand; /*Tipo/estilo del cursor*/
  width: 12%;
  height: 4%;
}

.cajanombre{
	border: 2px solid rgb(243, 200, 9);
	border-radius: 5px;
	padding: 5px;
	background-color: rgba(247, 231, 4, 0.459);
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 18px; /*Tamaño de la fuente*/
	color: rgb(0, 0, 0);
  text-align: center;
  width: 400px;
  height: 30px;
}

.textarea{
  background-color: #20dab4;
	border-radius: 8px;
  margin: 5px 10px;
	border: 3px solid rgb(9, 131, 29);

	font-family:  Arial, Helvetica, sans-serif;
	font-size: 20px; /*Tamaño de la fuente*/
  width: 400px;
  height: 180px;
  color: white;
}

.desplazamiento{
  font-family:  Arial, Helvetica, sans-serif;
  border-radius: 8px;
	font-size: 20px;
	font-weight: 40;
  color: black;
  text-align: center;
  margin: 5px 10px;
}